Binaries
DerivedDataCache
Intermediate
Saved
Project/Debug
Project/LearnOpenGL/Debug
Project/ThirdCode/libs/
Project/x64
Project/LearnOpenGL/x64
.vscode
.vs
*.VC.db
*.opensdf
*.opendb
*.sdf
*.suo
*.xcodeproj
*.xcworkspace
*.pdb